.form__container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 4vh;
  overflow-y: hidden;
}

.select,
option {
  border: none;
  outline: none;
}

.language__container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1vh;
}

.language__select {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5rem;
  padding: 0.5vh 1.2vw;
  width: 8rem;
  margin-right: 2vw;
}

.language__select > i {
  font-size: 1rem;
  margin-right: 8px;
  color: #808089;
}

.language__select > i:nth-child(2) {
  font-size: 1.2rem;
  transform: translate(-50%);
}

.language__select > select {
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #808089;
  cursor: pointer;
}
.language__select select:hover,
.language__select select:focus {
  outline: none;
  border-color: #007bff;
}

option {
  font-size: 0.9rem;
  color: #808089;
}

.form__container__logo > img {
  height: 20vh;
  width: 30vw;
  object-fit: contain;
}

.form__container__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container__form > label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1vh;
  align-self: self-start;
  margin-left: 1.5vw;
}

.form__container__form > label > span {
  color: red;
}

.form__container__form > input {
  width: 90%;
  height: 6vh;
  border-radius: 0.5rem;
  border: 1px solid #C4C4CF;
  padding-left: 1rem;
  margin-bottom: 2vh;
  font-size: 0.9rem;
}

.form__container__form > p {
  font-size: 0.9rem;
  color: red;
  align-self: self-start;
  margin-left: 1.4vw;
  margin-top: -1vh;
  margin-bottom: 1vh;
}

.form__container__form__tc {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #003CC1;
  font-weight: 500;
}

.form__container__form__tc > span {
  font-size: 0.9rem;
  cursor: pointer;
}

button {
  cursor: pointer;
}

hr {
  width: 92%;
  color: #EBEBF0;
}

.form__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1vh;
}

.form__buttons > button {
  width: 93%;
  height: 6vh;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 0.9rem;
  font-weight: 600;
}

.form__buttons > button:first-child {
  background-color: #003CC1;
  color: white;
  border: none;
}

.form__buttons > button:nth-child(2) {
  color: #003CC1;
  border: 2px solid #C4C4CF;
}

.form__buttons > button:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #C4C4CF;
}

.form__buttons > button:nth-child(3) > img {
  height: 4vh;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.form__buttons > span {
  display: flex;
  font-size: 0.9rem;
  color: grey;
}

.form__container__form__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container__form__signup > span {
  font-size: 0.9rem;
  color: grey;
}

.form__container__form__signup > button {
  border: none;
  color: #003CC1;
  font-weight: 600;
  background: transparent;
  font-size: 0.9rem;
}

/* media queries */

@media screen and (max-width: 600px) and (min-width: 100px) {
  .form__container {
    height: 98vh;
    width: 90vw;
    margin-top: 2vh;
  }

  .language__select {
  padding: 0.5vh 2vw;
  width: 8rem;
  margin-right: 2vw;
}
  .form__container__logo > img {
    height: 15vh;
    width: 70vw;
  }
  .form__container__form > input {
    height: 5vh;
  }
  .form__container__form > p {
    font-size: 0.8rem;
    width: 90%;
    margin-left: 2.8vw;
  }
  .form__container__form__tc {
    width: 94%;
  }
  .form__container__form__tc > span {
    font-size: 0.9rem;
  }
  .form__buttons > button {
    width: 96%;
  }
  .form__buttons > button:nth-child(3) > img {
    height: 4vh;
  }
  .form__buttons > span {
    font-size: 0.8rem;
  }
  .form__container__form__signup > span {
    font-size: small;
  }
}
