.form__container {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 4vh;
  overflow-y: hidden;
}

.form__container__logo > img {
  height: 20vh;
  aspect-ratio: 5/2;
  object-fit: contain;
}

.form__container__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container__form > label {
  font-size: x-small;
  font-weight: 600;
  margin-bottom: 1vh;
  align-self: self-start;
  margin-left: 1vw;
}

.form__container__form > label > span {
  color: red;
}

.form__container__form > input {
  width: 90%;
  height: 6vh;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 1rem;
  margin-bottom: 2vh;
}

.form__container__form > p {
  font-size: x-small;
  color: red;
  align-self: self-start;
  margin-left: 1.4vw;
  margin-top: -1vh;
  margin-bottom: 0;
}

.form__container__form__tc {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
  font-weight: 500;
}

.form__container__form__tc > span {
  font-size: 1px;
}

button {
  cursor: pointer;
}

hr {
  margin: 2vh 0 1vh 0;
  width: 95%;
}

.form__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1vh;
}

.form__buttons > button {
  width: 93%;
  height: 5vh;
  border-radius: 0.5rem;
  background: transparent;
  font-size: small;
  font-weight: 600;
}

.form__buttons > button:first-child {
  background-color: blue;
  color: white;
  border: none;
}

.form__buttons > button:nth-child(2) {
  color: blue;
  border: 2px solid grey;
}

.form__buttons > button:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid grey;
}

.form__buttons > button:nth-child(3) > img {
  height: 5vh;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.form__buttons > span {
  display: flex;
  font-size: 1px;
  color: grey;
}

.form__container__form__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container__form__signup > span {
  font-size: x-small;
  color: grey;
}

.form__container__form__signup > button {
  border: none;
  color: blue;
  font-weight: 600;
  background: transparent;
}

@media screen and (max-width: 600px) and (min-width: 100px) {
  .form__container {
    height: 92vh;
    width: 90vw;
    margin-top: 8vh;
  }
  .form__container__logo > img {
    height: 15vh;
  }
  .form__container__form > input {
    height: 5vh;
  }
  .form__container__form > p {
    font-size: 0.8rem;
    width: 90%;
    margin-left: 2.8vw;
  }
  .form__container__form__tc {
    width: 94%;
  }
  .form__container__form__tc > span {
    font-size: 0.5rem;
  }
  .form__buttons > button {
    width: 96%;
  }
  .form__buttons > button:nth-child(3) > img {
    height: 4vh;
  }
  .form__buttons > span {
    font-size: 0.5rem;
  }
  .form__container__form__signup > span {
    font-size: x-small;
  }
}
