.title__logo {
  margin-left: 10vw;
}

.title__logo > img {
  height: 15vh;
  aspect-ratio: 5/1.5;
}

@media all and (max-width: 600px) {
  .title__logo > img {
    height: 15vh;
    width: 70vw;
  }
}
